body {
  background-color:grey;

}

main {
margin: 100px auto;
padding:20px 30px;
width: 400px;
font-family:sans-serif;
border:1px solid #404040;
background-color:#FFF;
border-radius:15px;
box-shadow: 5px 5px 5px #404040;
}

header img {
margin:0 auto;
width:100px;
}

header {
margin: 0 auto 50px auto;
width:100px;
}

p {
  font-size:70%;
}
